/*

Styling-inspirasjon og fonter fra Ruter sine infoskjermer som kan opprettes på link:
http://mon.ruter.no
Fonter hentet fra:
https://brand.ruter.no

*/

@font-face {
  font-family: TID;
  src: url(../fonts/TID-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: TID;
  src: url(../fonts/TID-RegularItalic.ttf);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: TID;
  src: url(../fonts/TID-Medium.ttf);
  font-weight: medium;
}

@font-face {
  font-family: TID;
  src: url(../fonts/TID-MediumItalic.ttf);
  font-weight: medium;
  font-style: italic;
}

@font-face {
  font-family: TID;
  src: url(../fonts/TID-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: TID;
  src: url(../fonts/TID-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

body {
  font-family: TID, sans-serif;
  background: rgba(0, 0, 0, 0.918);
  color: #fff;
  box-sizing: border-box;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.spesificRouteContainer {
  text-align: center;
}

.spesificRouteOuterContainer {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  padding: 30px 40px;
  transition: 0.3s transform;
}

.spesificRouteOuterContainer:hover {
  transform: translateY(-3px);
}

.spesificRouteOuterContainer > .header {
  display: flex;
  justify-content: space-between;
}

.spesificRouteOuterContainer > .header > .delete {
}

.routeIcon {
  background: rgb(222, 12, 12);
}

.routeIcon h2 {
  font-size: 2em;
  margin: 0;
  padding: 11px;
}

.routes,
.Route,
.routesHeader {
  display: grid;
}

.Route,
.routesHeader {
  grid-template-columns: 0.7fr 2fr 1fr 1fr;
}

.ignoreTime,
.correctTime {
  display: inline-block;
}

.ignoreTime {
  text-decoration: line-through;
}

.correctTime {
  color: yellow;
  margin-left: 10px;
}

hr {
  height: 1px;
  border: none;
  background: rgb(255 255 255 / 0.5);
}

.g-bg {
  background: #353535;
  height: 84%;
  margin-top: -8px;
  padding-top: 26px;
}

.updatedArrivalTime {
  background: #353535;
  margin-top: -8px;
  height: 111%;
  padding-top: 9px;
}

.clock {
  text-align: right;
  font-size: 4em;
  margin: 10px 0 20px 0;
}

/* route container */
.routeContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 400px));
}

/* change route / new route part */
/* change */
.EditRouteFormContainer {
  display: flex;
  justify-content: space-evenly;
}

.inputWithAutoComplete {
  position: relative;
}

.autoCompleteSuggestions {
  display: flex;
  flex-direction: column;
}

.autoCompleteSuggestion {
  font-size: 1em;
}

.autoCompleteSuggestion:hover {
  cursor: pointer;
  color: rgb(211, 210, 210);
}

.toggleChangeRoute {
  color: rgba(255, 255, 255, 0.527);
}

.pointer:hover {
  cursor: pointer;
  transform: translateY(-1px);
}

/* new */
.newRoute {
  width: 100px;
  height: 40px;
  background: inherit;
  display: grid;
  place-items: center;
  border-radius: 20px;
  color: #fff;
  transition: 0.3s all;
  border: 3px solid #fff;
  margin: 0 auto;
  margin-top: 1em;
}

.btn {
  align-self: baseline;
  padding: 0.5rem 0.8rem;
  border: none;
  border-radius: 0.3rem;
}

@media only screen and (max-width: 600px) {
  body {
  }
}
